<form method ="POST" action='/signup'>

	<p>
		<label for="username">First Name</label>
		<input type="text" name="[user]username">
	</p>

	<p>
		<label for="password">Password</label>
		<input type="text" name="[user]password">
	</p>
	
	<p>
		<input type="submit" name="Welcome">
	</p>

</form>