html,
body {
  height: 100%;
}



body {
  font-family: 'Source Sans Pro', helvetica, arial, sans-serif;

}

section {
  height: 100%;
  min-height: 250px;
}

#upperheader {
  background: url(header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 0px;
}

#nav_wrap {
  background-color: #5289b4;
  height: 100px;
  text-align: center;
  width: 100%;
  /*position: relative;*/
  top: 0;
  /*overflow: hidden;*/
  display: inline-block;
  /*margin-top: 0px auto;*/
}

nav {
  background-color: #e74c3c;
  border-color: #df2e1b;
  border-width: 1px;
  border-style: solid;
  font-family: 'Source Sans Pro';
  width: 100%;
  margin: 0 0 0 auto;
  transition: .5s;
  border-width: 0 0 1px 0;
}

nav a {
  display: inline-block;
  font-size: 21px;
  text-decoration: none;
  color: #fafeff;
  width: 20%;
  text-align: center;
  line-height: 65px;
  text-transform: uppercase;
}

nav a:nth-child(3n-2) {
  border-top: 5px solid #5289b4;
}

section:nth-child(3n-1) {
  background: #5289b4;
}

nav a:nth-child(3n-1) {
  border-top: 5px solid #fafeff;
}

section:nth-child(3n) {
  background: #fafeff;
}


nav a:nth-child(3n) {
  border-top: 5px solid #569a56;
}

section:nth-child(3n+1) {
  background: #569a56;
}

nav a:hover {
  border-top: 5px solid #4a4a4a;
  transition: .4s;
}

#mainlogo {
  font-size: 100px;
  color: white;
  border: 4px solid white;
  display: inline-block;
  padding: 10px;
  position: fixed;
  height: 80px;
  line-height: 80px;
  top: 50%;
  margin-top: -300px;
  left: 55%;
  width: 600px;
  text-align: center;
  margin-left: -700px;
  text-shadow: 1px 2px 1px #000;
  box-shadow: 1px 2px 1px #000;
}








